.read-more {
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.6;
    color: #4b5563;
}

.read-more-btn {
    border: none;
    background: transparent;
    color: #2563eb;
    cursor: pointer;
    font-weight: 600;
    /* margin-left: 5px; */
    font-size: 14px;
    transition: color 0.2s ease;
}

.read-more-btn:hover {
    color: #1d4ed8;
}